span(*ngIf="activity.payload.action === 'added'") added to {{activity.payload.scope}} 
    i.fa.fa-user
span(*ngIf="activity.payload.action === 'removed'") removed from {{activity.payload.scope}}  
    i.fa.fa-user
include completion