$orange: #BF4C30;
$white: #fff;
$blue: #00bfff;
$textGrey: #525252;
$grey: #bbb;
$darkGrey: #c9c9c9;
$footerBackground: #F7F7F7;
$transition: all 0.5s ease;

$spinnerDimen: 25px;

$searchBorderFocusBottom: #969696;