| ---
| layout: page
| title: 404
| ---
| 
doctype html
html
    head
        base(href="/")
        include ./template/title
        include ./template/meta   
        include ./template/head
    body
        include ./template/scripts
        app