doctype html
html
    head
        base(href="/")
        include ./template/title
        include ./template/meta   
        include ./template/favicon   
        include ./template/head
        include ./template/scripts
    body
        app