.left-bar-buttons
    div
        a.btn.btn-sample.uppercase([routerLink]="['/']", [class.selected]="getLinkStyle('/')") Home
    div
        a.btn.btn-sample.uppercase([routerLink]="['/android']", [class.selected]="getLinkStyle('/android')") Android
    div
        a.btn.btn-sample.uppercase([routerLink]="['/blog']", [class.selected]="getLinkStyle('/blog')") Blog
    div
        a.btn.btn-sample([routerLink]="['/ios']", [class.selected]="getLinkStyle('/ios')") iOS
    div
        a.btn.btn-sample.uppercase([routerLink]="['/lab']", [class.selected]="getLinkStyle('/lab')") Lab
    div
        a.btn.btn-sample.uppercase([routerLink]="['/open-source']", [class.selected]="getLinkStyle('/open-source')") Open Source