footer
    .col-lg-12.col-md-12.content
        .col-lg-5.col-md-5.margin-0.padding-0
            .col-lg-12.col-md-12.margin-0.padding-0.profile
                .col-lg-4.col-md-4.margin-0.padding-0
                    //- img(src="dist/assets/images/profile.jpg")
                .col-lg-8.col-md-8.card
                    h2 Leonardo Cardoso
                    h4 💻 📱 🚀
                    ul
                        li
                            a(href="https://twitter.com/leocardz" target="_blank")
                                span.fa.fa-twitter &nbsp;
                                | @leocardz
                        li
                            a(href="https://github.com/leonardocardoso" target="_blank")
                                span.fa.fa-github &nbsp;
                                | @leonardocardoso
                        li
                            a(href="mailto:leo@leocardz.com")
                                span.fa.fa-at &nbsp;
                                | leo@leocardz.com
        .col-lg-7.col-md-7
            .section.col-lg-4.col-md-4
                h5 Site
                ul
                    li
                        a([routerLink]="['/']") Home
                    li
                        a([routerLink]="['/blog']") Blog
                    li
                        a([routerLink]="['/privacy']") Privacy
            .section.col-lg-4.col-md-4
                h5 Dev
                ul
                    li
                        a([routerLink]="['/android']") Android
                    li 
                        a([routerLink]="['/ios']") iOS
                    li
                        a([routerLink]="['/lab']") Lab
                    li
                        a([routerLink]="['/open-source']") Open Source
            .section.col-lg-4.col-md-4
                h5 Me
                ul
                    li
                        a([routerLink]="['/about']") About
                    li
                        a(href="https://twitter.com/leocardz" target="_blank") Twitter
                    li
                        a(href="https://github.com/leonardocardoso" target="_blank") GitHub
                    li
                        a(href="https://medium.com/@leocardz" target="_blank") Medium
                    li
                        a(href="https://linkedin.com/in/leocardz" target="_blank") LinkedIn