link(rel='stylesheet', href='dist/libs/bootstrap/dist/css/bootstrap.min.css', crossorigin='anonymous')
link(rel='stylesheet', href='dist/libs/font-awesome/css/font-awesome.min.css', crossorigin='anonymous')
link(rel='stylesheet', href='dist/libs/animate.css/animate.min.css', crossorigin='anonymous')

script(src='dist/libs/jquery/dist/jquery.min.js', crossorigin='anonymous')
script(src='dist/libs/bootstrap/dist/js/bootstrap.min.js', crossorigin='anonymous')

//- script(type='text/javascript').
//-   window.cookieconsent_options = { "dismiss": "Got it!", "link": "http://leocardz.com/privacy", "theme": "dark-bottom", "domain": "leocardz.com" };
//- script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js')

link(rel='stylesheet', type='text/css', href='dist/assets/stylesheets/unified.css')