.fixed
    a([routerLink]="['/']")
        img(src="dist/assets/images/transparent-default-384.png")
    .divider
    .clearfix
.scrollable-content
    include buttons
    .divider
    include activities
    