meta(charset="UTF-8")
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=10.0')
meta(http-equiv='Content-type', content='text/html; charset=utf-8')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='#BF4C30')

meta(name='author', content='Leonardo Cardoso')
meta(name='description', content='This is the place where we talk about programming. Come along!')
meta(name='keywords', content='programming,ios,swift,android,mobile,development,dev')

meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@LeoCardz')
meta(name='twitter:creator', content='@leocardz')
meta(name='twitter:title', content='leocardz.com')
meta(name='twitter:description', content='This is the place where we talk about programming. Come along!')
meta(name='twitter:image:src', content='http://leocardz.com/dist/assets/images/default-512.png')

meta(property='fb:admins', content='182900240026')
meta(property='og:type', content='website')
meta(property='og:site_name', content='leocardz.com')
meta(property='og:title', content='leocardz.com')
meta(property='og:url', content='http://leocardz.com')
meta(property='og:image', content='http://leocardz.com/dist/assets/images/default-512.png')
meta(property='og:description', content='This is the place where we talk about programming. Come along!')

meta(charset='utf-8')
