script(src="dist/libs/core-js/client/shim.min.js")
script(src="dist/libs/zone.js/dist/zone.js")
script(src="dist/libs/reflect-metadata/Reflect.js")

//- script(src='dist/libs/systemjs/dist/system.src.js')
//- script(src='core/app/systemjs.config.js')
//- script.
//-   System.import('app').catch(function(err){ console.error(err); });

script(src="dist/app/bundle.js")
