.search
    .search-input
        input(type="text", placeholder="search everywhere", (keyup)="actionSearch($event.target.value)") 
        .clearfix
    .search-view
        div(*ngFor="let post of posts")
            .search-result
                a((click)="actionNavigate(post)")
                    .title 
                        span([innerHTML]="markdown(post.title)")
                        | &bull; {{labelnize(post.label, true)}}
                    i
                        time {{post.date | amTimeAgo}}
                    .content([innerHTML]="markdown(post.content)")